{% extends "layout.njk" %}

{% block metadata %}
  <link rel="stylesheet" href="/footer.css">
{% endblock %}

{% block footer %}
<div class="pd">
  
</div>
<footer>
  <a>Todos direitos reservados, receitas Foodfy.</a>
</footer>


{% endblock %}