{% extends "layout.njk" %}

{% block metadata %}
  <link rel="stylesheet" href="/header.css">
{% endblock %}

{% block header %}
<header>
  <a class="logo-content" href="/">
    <img src="/logo.png" alt="logo">
  </a>
  <div class="menu-content">
    <a href="/about">Sobre</a>
    <a href="/recipe">Receitas</a>
  </div>
</header>


{% endblock %}