
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/layout.css">
  {% block metadata %}
    <title>FoodFy</title>
  {% endblock %}
</head>
<body>
  <section>
    {% block header %}
    {% endblock %}


    {% block content %}
    {% endblock %}

  </section>


    {% block modal %}
    {% endblock %}
  
    {% block footer %}
    {% endblock %}

</body>
</html>