
{% block metadata %}
  <link rel="stylesheet" href="/modal.css">
  <link rel="stylesheet" href="/header.css">
  <link rel="stylesheet" href="/footer.css">
{% endblock %}

{% block modal %}
  <div class="modal-overlay">
    <div class="modal">
      <div class="modal-content">
        <div class="img-content">
          <img src="asinhas.png" alt="">
        </div>
        <h1>Asinhas de frango ao barbecue</h1>
        <p>por Vania Steroski</p>
        <div class="close-modal">
          <i class="material-icons">close</i>
        </div>
      </div>
    </div>
  </div>

  <script src="recipe.js"></script>
{% endblock %}