@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap"; 

@import "https://fonts.googleapis.com/icon?family=Material+Icons";

#wrapper{
  text-align: center;
}

#wrapper img {
  border: 1px solid var(--color-green);
  border-radius: 50%; 
  margin-bottom: 32px;
  padding: 5px;
  height: 275px;
}

#wrapper h1 {
  font-size: 42px;
  line-height: 52px;
  font-weight: 700;
  padding: 32px;
  margin: 0px auto;
  max-width: 800px;

}

#wrapper h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
  margin-top: 8px;
  opacity: 0.8;

}

#wrapper p {
  max-width: 500px;
  margin: 24px auto;
  font-size: 18px;
  line-height: 28px;

}

#wrapper p a{
  color: #50FA7B;

}

#links-footer a:hover {
  font-weight: 500;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-green);

}


.card {
  background: var(--color-purple);
  display: grid;
  cursor: pointer;

}

.card-image-container img{
  width: 100%;

}

.card-info,
.card-content {
  padding: 24px;
}

.card-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.card-price {
  background: var(--color-purple);
  filter:  brightness(85%);
  padding: 5px 20px;
  border-radius: 20px;
  text-align: center;

}

.video {
  margin: 0px auto;
  max-width: 800px;
}

iframe {
  position: absolute;
  width: 100%;
  height: 90%;
  top:0;
}

.card-video-container {
  position: relative;
  padding-top: 65%;
}




.modal-content .loading{
  position: absolute;
  top:50%;
  margin: 0 50%;
  color: #FFF;
  animation: rotation 2s infinite linear;
  -moz-animation: rotation 2s infinite linear;
  -ms-animation: rotation 2s infinite linear;
  -o-animation: rotation 2s infinite linear;
  -webkit-animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-atransform: rotate(0deg);
      -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-atransform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
}



