footer {
  background: #EEEEEE;
  padding: 23px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  
}

footer a {
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #999999;
  text-align: center;
}

.pd {
  margin: 200px 0 0 0;
}